@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 .content {
    width: 100%;
    display: flex;
    justify-content: center;
     font-family: "Arial Black", sans-serif;
     font-size: 32px;
}

.redirect {
    margin: 5px;
    width: 200px;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #007bff;
}

.tablo {
    font-family: 'VT323', monospace;
    font-size: 36px;
    border: 1px solid black;
}

.btn {
    width: 150px;
}

.view {
    width: 250px;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
}

.clean {
    background-color: white;
}

td {
    height: 50px;
    background-color: black;
    color: red;
    border: 1px solid #ccc;
    vertical-align: center;
    text-align: center;
    position: relative;
}

.upBtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
